<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>769625848259-k3m1horolajjb4hkjmorglr09s15mhvv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.769625848259-k3m1horolajjb4hkjmorglr09s15mhvv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>769625848259-lh88g58odqqh5v985eoe8561u314mr08.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBqH3Nu1itnYaEa-f-q4ny72NfCZERxDwE</string>
	<key>GCM_SENDER_ID</key>
	<string>769625848259</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>show.unicon.uniconAdminapp</string>
	<key>PROJECT_ID</key>
	<string>testinglayout-7eb1f</string>
	<key>STORAGE_BUCKET</key>
	<string>testinglayout-7eb1f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:769625848259:ios:85e5ff6de014905e946576</string>
	<key>DATABASE_URL</key>
	<string>https://testinglayout-7eb1f.firebaseio.com</string>
</dict>
</plist>